body {
    padding: 50px;
}

p {
    margin: 0px;
    cursor: pointer;
}

.quotesApp {
    margin-top: 2.5rem;
}

.quote {
    margin: 0px 0px 15px 0px;
}

.list-group-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.complete {
    text-decoration: line-through;
}